

@{
    ViewBag.Title = "Test";
    Layout = null;
}

<h2>Test</h2>

<div>
    <h4>BPOM_Vaksin</h4>
    <hr />
    <dl class="dl-horizontal">
        <p>No Registrasi = @ViewBag.no_registrasi</p>
        <p>Status = @ViewBag.status</p>

    </dl>
</div>
